{%- comment -%}
  Renders social icons from theme settings.
  
  Accepts:
  - class: {String} Additional class for the <ul> (optional)
  - size:  {String} 'small' | 'medium' | 'large' (optional, default: medium)

  Usage:
  {% render 'social-icons', class: 'my-class', size: 'small' %}
{%- endcomment -%}

{%- assign size_class = '' -%}
{%- case size -%}
  {%- when 'small' -%}
    {%- assign size_class = 'w-6 h-6' -%}
  {%- when 'large' -%}
    {%- assign size_class = 'w-10 h-10' -%}
  {%- else -%}
    {%- assign size_class = 'w-8 h-8' -%}
{%- endcase -%}

{%- assign has_any_social = false -%}
{%- unless settings.social_facebook_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_instagram_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_youtube_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_tiktok_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_twitter_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_pinterest_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_snapchat_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_tumblr_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}
{%- unless settings.social_vimeo_link == blank -%}{%- assign has_any_social = true -%}{%- endunless -%}

{%- if has_any_social -%}
  <ul 
    class="flex items-center gap-5 {% if class %} {{ class }}{% endif %}" 
    role="list"
  >
    {%- if settings.social_facebook_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_facebook_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-facebook.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">facebook</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_instagram_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_instagram_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-instagram.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">instagram</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_youtube_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_youtube_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-youtube.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">youtube</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_tiktok_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_tiktok_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-tiktok.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">tiktok</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_twitter_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_twitter_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-twitter.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">twitter</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_pinterest_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_pinterest_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-pinterest.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">pinterest</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_snapchat_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_snapchat_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-snapchat.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">snapchat</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_tumblr_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_tumblr_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-tumblr.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">tumblr</span>
        </a>
      </li>
    {%- endif -%}

    {%- if settings.social_vimeo_link != blank -%}
      <li class="flex items-center">
        <a class="inline-flex items-center justify-center" href="{{ settings.social_vimeo_link }}" target="_blank" rel="noopener">
          <span class="inline-block {{ size_class }}">
            {{- 'icon-vimeo.svg' | inline_asset_content -}}
          </span>
          <span class="hidden">vimeo</span>
        </a>
      </li>
    {%- endif -%}
  </ul>
{%- endif -%}