<div class="full-width layout color-{{ section.settings.color_scheme }} relative overflow-hidden"
    data-section-id="{{ section.id }}"
    data-init="false"
>
    <div class="container-page">
        {%- capture tab_header -%}
            {%- for block in section.blocks -%}
                <div 
                    role="tab" 
                    x-data="{ index: null }"
                    x-init="index = registerTab($el)"
                    :id="`tab-${index}`"
                    :aria-controls="`panel-${index}`"
                    @click="setActive(index)"
                    :tabindex="isActive(index) ? 0 : -1"
                    :aria-selected="isActive(index)"
                    :class="isActive(index)
                        ? 'opacity-100'
                        : 'opacity-20 hover:opacity-60 focus:opacity-60'"
                    class="cursor-pointer h1 transition-opacity focus:outline-none"
                    {{ block.shopify_attributes }}
                >
                    <span>                        
                        {%- if block.settings.collection_heading != blank -%}
                            {{ block.settings.collection_heading }}
                        {%- else -%}
                            {{ block.settings.collection.title }}
                        {%- endif -%}
                        <sup class="sup-badge">({{ block.settings.collection.products_count }})</sup>
                    </span>
                </div>
            {%- endfor -%}
        {%- endcapture -%}

        {%- capture tab_content -%}
            {%- for block in section.blocks -%}
                <div
                    role="tabpanel"
                    x-data="{ index: null }"
                    x-init="index = registerPanel($el)"
                    :id="`panel-${index}`"
                    :aria-labelledby="`tab-${index}`"
                    x-show="isActive(index)"
                    x-cloak
                    x-transition:enter="tab-enter"
                    x-transition:enter-start="tab-enter-start"
                    x-transition:enter-end="tab-enter-end"
                    x-transition:leave="tab-leave"
                    x-transition:leave-start="tab-leave-start"
                    x-transition:leave-end="tab-leave-end"
                    class="flex flex-col gap-8 items-center"
                    {{ block.shopify_attributes }}
                >
                    {%- if block.settings.collection_content != blank -%}
                        <p>{{ block.settings.collection_content }}</p>
                    {%- endif -%}
                    
                    <div 
                        class="product-grid"
                        style="
                            --product-grid-columns: {{ section.settings.pc_items }};
                            --product-grid-columns-mobile: {{ section.settings.mobile_items }};
                        "
                    >
                        {%- assign products = block.settings.collection.products -%}  
                        {%- assign max_items = section.settings.max_items -%}

                        {% # theme-check-disable-next-line LiquidHTMLSyntaxError %}
                        {%- for product in products limit: max_items -%}
                            {%- render 'product-card', 
                                product: product
                            -%}
                        {%- endfor -%}
                    </div>
                </div>
            {% endfor %}
        {%- endcapture -%}

        {%- render 'tab-control',tab_header: tab_header, tab_content: tab_content %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const featuredProducts = document.querySelector('[data-section-id="{{ section.id }}"]');
        
        if(!featuredProducts || featuredProducts.dataset.init === 'true') return;
        
        featuredProducts.dataset.init = 'true';
    });
</script>

<style>
    [data-section-id="{{ section.id }}"] { 
        --section-padding-top: {{ section.settings.padding_top }}px;
        --section-padding-bottom: {{ section.settings.padding_bottom }}px;
        
        .product-grid{
            display: grid;
            grid-template-columns: repeat(var(--product-grid-columns), minmax(0, 1fr));
            gap: 8px;
        }

        @media (max-width: 768px) {
            .product-grid {
                --product-grid-columns: var(--product-grid-columns-mobile, minmax(0, 1fr));
            }
        }
    }
</style>

{% schema %}
{
    "name": "Featured Products",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header","footer"]
    },
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type":"color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default":"color-scheme-1"
        },
        {
            "type": "header",
            "content": "Products Settings"
        },
        {
            "type": "range",
            "id": "max_items",
            "min": 2,
            "max": 12,
            "step": 1,
            "default":8,
            "label": "Maximum items"
        },
        {
            "type": "range",
            "id": "pc_items",
            "label": "Items per row on desktop",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 4,
        },
        {
            "type": "range",
            "id": "mobile_items",
            "label": "Items pre row on mobile",
            "min": 1,
            "max": 2,
            "step": 0.1,
            "default": 1,
        },
        {
            "type": "checkbox",
            "id": "show_navigation",
            "label": "Show Navigation",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_pagination",
            "label": "Show Pagination",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_all",
            "label": "Show View All Button",
            "default": false
        },
        {
            "type": "header",
            "content": "Padding"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Top",
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 100,
            "step": 4,
            "unit": "px",
            "label": "Padding Bottom",
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Select Collection"
                },
                {
                    "type": "text",
                    "id": "collection_heading",
                    "label": "Collection Heading",
                    "default": "Featured Collection"
                },
                {
                    "type": "inline_richtext",
                    "id": "collection_content",
                    "label": "Collection Content",
                    "default": "Featured collection description goes here.",
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Products",
            "settings": {
            }
        }
    ]
}
{% endschema %}