<header
  class="full-width layout color-{{ section.settings.color_scheme }}"
  data-section-id = "{{ section.id }}"
  data-init="false"
>
  <div class="container-page">
    <div class="grid py-3 header__cols-3">
      <div style="grid-area: logo">
        logo
      </div>

      <div style="grid-area: menu">
        menu
      </div>

      <div style="grid-area:navigation">
        icon navigation
      </div>
    </div>
  </div>  
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('[data-section-id="{{ section.id }}"]');
  
    if(!header || header.dataset.init === 'true') return;
   
    header.dataset.init = 'true';
  });
</script>

<style>
  [data-section-id="{{ section.id }}"] {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;

    .header__cols-3{
      grid-template-areas: "logo menu navigation";
    }
  }
</style>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        }
      ],
      "label": "Logo Position",
      "default": "middle-left",
      "info": "Edit your logo in [theme settings](/editor?context=theme&category=logo)"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "label": "Mobile Logo Position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default":"color-scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "Menu Color Scheme",
      "default":"color-scheme-1"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 0
    }
  ]
}
{% endschema %}
