<header
  class="full-width color-{{ section.settings.color_scheme }} transition-all duration-300 ease-in-out"
  data-section-id = "{{ section.id }}"
  data-init="false"
  x-data="stickyHeader"
  :class="{
    'is-top': isTop,
    'is-hidden' : isHidden,
    'is-scrolled': !isTop
  }"
>
<div class="container-page">
  <div class="grid py-3 header__cols-3">
    <div style="grid-area: logo">
      {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
      {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
      {%- capture sizes -%}
        (max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px
      {%- endcapture -%}
      {%- capture widths -%}
        {{ settings.logo_width }},{{ settings.logo_width | times: 1.5 | round }},{{ settings.logo_width | times:2 }}
      {%- endcapture -%}
      
      {%- if settings.logo -%}
        {% render 'image',
          image: settings.logo,
          width: settings.logo_width,
          height: logo_height,
          alt: logo_alt,
          url:  routes.root_url,
          sizes: sizes,
          widths: widths,
          loading: 'eager'
        %}
      {%- else -%}  

      {%- render 'link', text: shop.name ,class:"h2", variant: "underline",href: routes.root_url  -%}
    {%- endif -%}
  </div>
  
  <div class="flex justify-center items-center" style="grid-area: menu">
    {%- render 'header-dropdown-menu' -%}
  </div>
  
  <div class="flex justify-end items-center gap-3" style="grid-area:navigation">
    {%- assign size_class = 'w-12 h-12' -%}
    
    <div class="flex items-center gap-2 border-b-2">
      <span class="{{ size_class }} inline-block icons">
        {{ 'icon-search.svg' | inline_asset_content }}
      </span>
      <input 
        name="q"
        type="search"
        placeholder="Search"
        class="flex-1 bg-transparent outline-none" 
      >
      </div>
      
      <span class="{{ size_class }} inline-block icons">
        {{ 'icon-cart.svg' | inline_asset_content }}
      </span>
      
      <span class="w-10 h-10 inline-block icons">
        {{ 'icon-account.svg' | inline_asset_content }}
      </span>
    </div>
  </div>
</div>  
</header>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const header = document.querySelector('[data-section-id="{{ section.id }}"]');
    
    if(!header || header.dataset.init === 'true') return;
    
    header.dataset.init = 'true';
	});
</script>

<style>
  .header{
    position: fixed;
    left: 0;
    right: 0;
    top: var(--announcement-bar-height);
    z-index: 10;
  }
  
  .header > header.is-top{
    background-color: transparent;
  }
  
  .header > header.is-hidden{
    transform: translateY(calc(-100% - var(--announcement-bar-height)));
  }
  
  .header > header.is-scrolled{
    background-color: rgba(var(--color-background));
    box-shadow: 0 1px 10px rgba(0,0,0,.06);
  }
  
  [data-section-id="{{ section.id }}"] {
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    
    .header__cols-3{
      grid-template-areas: "logo menu navigation";
    }
  }
</style>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if settings.logo %}
      "logo": {{ settings.logo | image_url: width: 500 | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>

{%- if request.page_type == 'index' -%}
  {% assign potential_action_target = request.origin | append: routes.search_url | append: '?q={search_term_string}' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ request.origin | append: page.url | json }}
    }
  </script>
{%- endif -%}

{% schema %}
{
  "name": "t:general.header",
  "tag": "section",
  "class": "section header",
  "limit": 1,
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "Header"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        }
      ],
      "label": "Logo Position",
      "default": "middle-left",
      "info": "Edit your logo in [theme settings](/editor?context=theme&category=logo)"
    },
    {
      "type": "select",
      "id": "mobile_logo_position",
      "label": "Mobile Logo Position",
      "options": [
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "left",
          "label": "Left"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default":"color-scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "Menu Color Scheme",
      "default":"color-scheme-1"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
