<div class="full-width color-{{ section.settings.color_scheme }}"
    data-section-id="{{ section.id }}"
    data-init="false"
>
    <div>
        skins
    </div>
    <div class="container-page">
        products
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const scrollCategories = document.querySelector('[data-section-id="{{ section.id }}"]');
        
        if(!scrollCategories || scrollCategories.dataset.init === 'true') return;
        
        scrollCategories.dataset.init = 'true';
    });
</script>

<style>
    [data-section-id="{{ section.id }}"] { 
        --section-padding-top: {{ section.settings.padding_top }}px;
        --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    }
</style>

{% schema %}
  {
    "name": "Scroll Categories",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header","footer"]
    },
    "settings": [
        {
            "type":"color_scheme",
            "id": "color_scheme",
            "label": "Color Scheme",
            "default":"color-scheme-1"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "inline_richtext",
            "id": "heading",
            "label": "Heading"
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Add a description to your category.</p>"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Select Collection"
        },
        {
            "type": "richtext",
            "id": "caption",
            "label": "Caption",
            "default": "<p>Add a caption to your category.</p>"
        }
    ],
    "presets": [
      {
        "name": "Scroll Categories",
        "settings": {
        }
      }
    ]
  }
{% endschema %}